<?xml version="1.0"?>
<launch>

	<!-- arguments -->
	<arg name="node_name"            default="order_planner_interface" />
	<arg name="use_problem_topic"    default="true" />
	<arg name="problem_topic"        default="/order_problem_interface/order_problem_instance" />
	<arg name="planner_topic"        default="order_planner_output" />
	<arg name="domain_path"          default="/home/antonio/Nodi_Marco_Losbefero/ROSPlan_nodes/domain/dominio.pddl" />
	<arg name="problem_path"         default="/home/antonio/Nodi_Marco_Losbefero/ROSPlan_nodes/domain/problema_integrazione.pddl" />
	<arg name="data_path"            default="/home/antonio/Nodi_Marco_Losbefero/ROSPlan_nodes/ROSPlan/src/order_planner/data" />
	<arg name="planner_command"      default="timeout 10 /home/antonio/Nodi_Marco_Losbefero/ROSPlan_nodes/ROSPlan/src/rosplan/rosplan_planning_system/common/bin/popf DOMAIN PROBLEM" />
	<arg name="planner_interface"    default="popf_planner_interface" />
	<!-- planner interface -->
	<node name="$(arg node_name)" pkg="rosplan_planning_system" type="$(arg planner_interface)" respawn="false" output="screen">

		<!-- general options -->
		<param name="use_problem_topic" value="$(arg use_problem_topic)" />

		<!-- ros topics -->
		<param name="problem_topic" value="$(arg problem_topic)" />
		<param name="planner_topic" value="$(arg planner_topic)" />

		<!-- directory for files -->
		<param name="domain_path" value="$(arg domain_path)" />
		<param name="problem_path" value="$(arg problem_path)" />
		<param name="data_path" value="$(arg data_path)" />

		<!-- to run the planner -->
		<param name="planner_command" value="$(arg planner_command)" />
		
	</node>

</launch>
